@import 'src/styles/vars.scss';

.status {
  border-radius: 50%;
  border: 3px solid $tuna;
  box-sizing: content-box;
}

.online {
  background-color: $online;
}

.offline {
  background-color: $offline;
}

.small {
  width: 10px;
  height: 10px;
}

.large {
  width: 15px;
  height: 15px;
}