@import 'src/styles/vars.scss';

.userWrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  background-color: $tuna;
  cursor: pointer;

  .userInfos {
    width: calc(100% - 80px); // 100% of the parent width - 40px padding x2
    padding-left: 20px;
    line-height: 1.5;

    .username,
    .message {
      font-family: 'Euclid Semi-Bold', sans-serif;
      font-weight: 500;
    }

    .username {
      font-size: 20px;
      color: $white;
    }

    .message {
      color: $grey;
      font-size: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
